@font-face {
    font-family: 'Dalek';
    src: url('/fonts/Dalek.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Dalek", sans-serif;
    background-color: silver;
}

header {
    justify-items: center;
    width: 100%;
}


main {justify-items: center;}


article{
    justify-items: center;
    width: 100%;
}

.dalek-background {
    width: clamp(20em, 40%, 40em);
    height: clamp(20em, 50vw, 45em);
    border: black solid;
    border-radius: 4em 4em 0em 0em;
    background: linear-gradient(180deg,rgba(176, 180, 58, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    justify-items: center;
    margin: 2em;
}

.dalek-model {
    width: 90%;
    height: 90%;
}

.remote-control-model {
    width: 20em;
    height: 90%;
}

section {
    justify-items: center;
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
}

li {
    width: 20%;
    list-style-type: none;
    border: solid black;
    border-radius: 0.5em;
    padding: 1em;
}

.purchase-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.purchase-options {
    width: 40%;
    margin: 2em;
}

fieldset{
    border-color: black;
    border-radius: 0.25em;
}

.radio-box:focus-within{
    border-color: blue;
}


label {
    margin: auto;
}

.radio-box {
    width: 60%;
    margin: 1.5em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.radio-card {
  position: relative;
  border: 2px solid grey;
  border-radius: 8px;
  padding: 1em;
}

.radio-card:hover {
  border: 2px solid black;

}

.radio-card::after {
  content: attr(data-label);
  display: block;
  visibility: hidden;
  white-space: nowrap;
}

.radio-card label {
  position: absolute;
  inset: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-card input[type="radio"] {
  position: absolute;
  clip-path: polygon(0,0);
  width: 0;
  height: 0;
}

.radio-card:has(input[type="radio"]:checked) {
  border-color: blue;
}

.controller-background {
    width: clamp(20em, 40vw, 50em);
    height: clamp(20em, 50vw, 45em);
    border: black solid;
    border-radius: 4em 4em 0em 0em;
    background: linear-gradient(180deg,rgba(176, 180, 58, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    justify-items: center;
}

.controller-box {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    width: 100%;
}

.sound-box {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.paragraph-box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 2fr 2fr;
    gap: 1em;
}

.grid-h2 {
    grid-column: 3/5;
    grid-row: 1;
}

.grid-img1, .grid-img2 {
    width: 100%;
    height: 100%;
}

p {
    font-size: clamp(1px, 5vw, 20px);
}

.grid-img1 {
    transform: rotate(-2deg);
    grid-column: 2;
    grid-row: 2;
}

.grid-para1 {
    grid-column: 3/6;
    grid-row: 2;
}

.grid-img2 {
    transform: rotate(2deg);
    grid-column: 5;
    grid-row: 3;
}

.grid-para2 {
    grid-column: 2/5;
    grid-row: 3;
}

footer {
    justify-items: center;
}
