.model-background {
    border: black solid;
    border-radius: 4em 4em 0em 0em;
    background: linear-gradient(180deg,rgba(176, 180, 58, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}