.model-background {
    width: clamp(20em, 40%, 40em);
    height: clamp(20em, 50vw, 45em);
    border: black solid;
    border-radius: 4em 4em 0em 0em;
    background: linear-gradient(180deg,rgba(176, 180, 58, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    justify-items: center;
    margin: 2em;
}

.dalek-model {
    width: 90%;
    height: 90%;
}

input[type='radio'] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
 }

.radio-option input[type="radio"]:checked + .radio-card {
    border-color: #000;
    background: #f0f0f0;
}

.radio-option input[type="radio"]:checked + .radio-card {
    border-color: #000;
    background: #f0f0f0;
}

.radio-option input[type="radio"]:hover + .radio-card {
    background-color: gray;
}

.radio-card {
    display: block;
    padding: clamp(1em, 40%, 4em);
    border: solid #ccc;
    border-radius: 0.5em;
    cursor: pointer;
}

.purchase-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.purchase-options {
    width: 40%;
    margin: 2em;
}

fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    margin: auto;
}

.radio-box {
    width: 60%;
    margin: 1em auto;
    display: flex;
    justify-content: space-around;
}