@font-face {
    font-family: 'Dalek';
    src: url('/fonts/Dalek.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Dalek", sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    text-shadow: 0.1em 0.1em 0.05em gray;
}

h1 {
    font-size: clamp(1.5em, 4vw, 4em);
}

header {
    justify-items: center;
    width: 100%;
    margin: 4em auto;
}


main {
    justify-items: center;
}



article{
    justify-items: center;
    width: 100%;
}

.dalek-model {
    width: clamp(20em, 40%, 40em);
    height: clamp(20em, 50vw, 45em);
    animation: hover 3s ease-in-out infinite;
}

@keyframes hover {
    0%   { transform: translateY(1.5); }
    50%  { transform: translateY(-1.5em); }
    100% { transform: translateY(1.5); }
}

@keyframes blink {
    0%   { transform: scale(0.95); }
    50%  { transform: scale(1.05); }
    100% { transform: scale(0.95); }
}

.remote-control-model {
    width: 30em;
    height: 40em;
}

section {
    justify-items: center;
    width: 100%;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
}

li {
    list-style-type: none;
    border: solid white 2px;
    border-radius: 0.5em;
    padding: 1em;
    margin: 0.5em;
    font-size: 1.2em;
}

.purchase-container {
    margin: 0;
    padding: 2em 0;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    background-image: url(images/dalek-ship.webp);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    min-width: 20em;
    width: 40%;
    margin: auto 2em;
    padding: 1em;
    border: solid white;
    background-color: black;
}

input[type="submit"], button {
    font-family: inherit;
    padding: 1em 1.75em;
    margin: 1em auto;
    background-color: blue;
    color: white;
    border: white solid 2px;
    border-radius: 0.5em;
    font-size: 1em;
}

input[type="submit"]:hover, button:hover {
    background-color: #000099;
    cursor: pointer;
}



fieldset{
    border-color: white;
    border-radius: 0.25em;
    display: flex;
    flex-direction: column;
}

legend {
    animation: blink 1.5s ease-in-out infinite;
}

.radio-box:focus-within{
    border-color: blue;
}


label {
    margin: auto;
}

.radio-box {
    width: 60%;
    margin: 1.5em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.radio-card {
  position: relative;
  border: 2px solid grey;
  border-radius: 8px;
  padding: 1em;
}

.radio-card:hover {
  border: 2px solid blue;

}

.radio-card::after {
  content: attr(data-label);
  display: block;
  visibility: hidden;
  white-space: nowrap;
}

.radio-card label {
  position: absolute;
  inset: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-card input[type="radio"] {
  position: absolute;
  clip-path: polygon(0,0);
  width: 0;
  height: 0;
}

.radio-card:has(input[type="radio"]:checked) {
  border-color: blue;
}

.controller-background {
    width: clamp(20em, 40vw, 50em);
    height: clamp(20em, 50vw, 45em);
    border: black solid;
    border-radius: 4em 4em 0em 0em;
    background: linear-gradient(180deg,rgba(176, 180, 58, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    justify-items: center;
}

.controller-box {
    position: relative;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    width: 100%;
}

#node-lines {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  overflow: visible;
}

#node-lines line {
    stroke: white;
    stroke-width: 1.5;
    opacity: 0.6;
}

#node-lines circle {
  fill: white;
  filter: drop-shadow(0 0 4px white);
}


.sound-box {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
}

.paragraph-box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 2fr 2fr;
    gap: 1em;
}

.grid-h2 {
    grid-column: 2/6;
    grid-row: 1;
    margin: auto;
    font-size: clamp(2em, 5vw, 5em);
}

.grid-img1, .grid-img2 {
    width: clamp(10em, 26vw, 23em);
    height: clamp(10em, 20vw, 20em);
}

p {
    font-size: clamp(1px, 5vw, 20px);
}

.grid-para1, .grid-para2 {
    font-size: clamp(0.75em, 2vw + 5px, 6em);
}

.grid-img1 {
    transform: rotate(-2deg);
    grid-column: 2;
    grid-row: 2;
}

.grid-para1 {
    grid-column: 3/6;
    grid-row: 2;
}

.grid-img2 {
    transform: rotate(2deg);
    grid-column: 5;
    grid-row: 3;
}

.grid-para2 {
    grid-column: 2/5;
    grid-row: 3;
}

span {
    color: red;
}

footer {
    width: 100%;
    margin: 2em 0;
    text-align: center;
}

footer > a {
    color: lightgreen;
}
